.movies__button {
  display: flex;
  justify-content: center;
  padding: 28px 0 80px 0;
  background: #202020;
}

.more__button {
  width: 320px;
  height: 36px;
  background: #202020;
  color: #fff;
  cursor: pointer;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #424242;
  border: none;
  border-radius: 6px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
}

.movies__text {
  display: block;
  text-align: center;
  color: #a0a0a0;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background: #202020;
}

@media screen and (max-width: 768px) {
  .more__button {
    margin-top: 32px;
  }

  .movies__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 425px) {
  .more__button {
    margin-top: 32px;
    width: 240px;
  }

  .movies__text {
    font-size: 11px;
    line-height: 16px;
  }
}
