.nav-promo{
  background-color: #272727;
}

.nav-promo__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 24px;
  list-style: none;
  margin: auto;
  max-width: 1150px;
}

.nav-promo__link {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid;
  transition: opacity 0.4s linear;
  text-decoration: none;
  margin: 0 40px 0 0;
}

@media screen and (max-width: 320px) {
.nav-promo__link {
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0 24px 0 0;
  padding: 0;
}
}
