.app {
  margin: auto;
  min-width: 320px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  background-color: #000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.section__title {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #FFFFFF;
  padding:0 0 23px 0;
  border-bottom: 0.5px solid;
  margin: 0;
}

.button {
  transition: opacity 0.4s linear;
  cursor: pointer;

}

.button:hover {
  opacity: 0.4;
}

.link {
  transition: opacity 0.4s linear;
  cursor: pointer;
}

.link:hover {
  opacity: 0.4;
}

@media screen  and (max-width: 768px){
  .section__title {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: left;
  }
}

@media screen  and (max-width: 320px){
  .section__title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
  }
}
