.movies-cardlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 28px ;
  margin: auto;
  padding: 70px 70px 30px;
  background: #202020;
  max-width: 1150px;
}

.movies-cardlist__alert {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .movies-cardlist {
    padding: 0 30px 30px;
    gap: 35px 24px;
    grid-template-columns: repeat(auto-fit, 342px);
  }
}

@media screen and (max-width: 425px) {
  .movies-cardlist {
    padding: 30px 10px 30px;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 300px);
  }
}
