.portfolio {
  padding: 0 65px 125px 65px;
  background: #202020;
}

.portfolio__title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #8B8B8B;
  padding: 0 0 50px 0;
  margin: 0;
}

.portfolio__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__links {
  border-bottom: 1px solid #424242;
  padding-bottom: 19px;
}
.portfolio__link {
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-align: left;
  border-radius: nullpx;
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 0;
  height: 50px;
  background: no-repeat center right url(../../../images/row.svg);
}

.portfolio__links:last-child {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px 70px;
  }

  .portfolio__links {
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-align: left;
  }
}
@media screen and (max-width: 320px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  .portfolio__block {

  }

  .portfolio__links {

  }

  .portfolio__link {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-align: left;
    height: 28px;
    background-size: 15px 28px;
  }
}
