.techs {
  padding: 100px 65px 100px 65px;
  background-color: #272727;
}

.section__title_plus {
  margin-left: 50px;
}
.techs__subtitle {
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 90px 0px 26px 0;
}

.techs__text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
}

.techs__lists {
  margin: 83px 0 0 0;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style: none;
}

.techs__list {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5px;
  width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__subtitle {
    margin: 80px 0 22px;
    padding: 0;
  }

  .techs__text {
    max-width: 460px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  .techs__lists {
    margin: 83px 0 0;
  }

  .techs__list {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 600px) {
  .techs__lists {
    margin: 50px 52px 0;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .techs {
    padding: 60px 18px;
    background: #202020;
  }

  .techs__text {
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  .techs__subtitle {
    margin: 60px 0 24px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__list {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}
