.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #073042;
  padding: 21px 70px;
  box-sizing: border-box;
}

.header_dark {
  background: #202020;
}

.header__logo {
  width: 38px;
  height: 38px;
  background-image: url(../../images/head_logo.svg);
  transition: opacity 0.4s linear;
}

.header__logo:hover {
  opacity: 0.9;
}

.header__burger {
  display: none;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  background-image: url(../../images/burger.svg);
  background-color: initial;
  background-size: contain;
  border: none;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 16px 30px;
  }

  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 18px 14px;
  }

  .header__burger {
    width: 40px;
    height: 43px;
  }

  .header__burger_invisible {
    display: none;
  }
}
