.movies-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 319px;
  background: #222222;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.movies-card__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}

.movies-card__title {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0 018px;
  padding: 0;
  color: #fff;
}

.movies-card__duration {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
  color: #8B8B8B;
  margin: 0 18px 0 0;
  padding: 0;
}

.movies-card__img {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.movies-card__favourites-remove {
  margin-top: 18px;
  align-self: center;
  width: 100px;
  height: 29px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  background: center no-repeat url(../../../images/arrow.svg) #EE3465;
  font-size: 0;
}

.movies-card__favourites-add {
  margin-top: 18px;
  align-self: center;
  width: 100px;
  height: 29px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  background: #313131;
}

.movies-card__favourites {
  margin-top: 18px;
  align-self: center;
  width: 100px;
  height: 29px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  background: center no-repeat url(../../../images/cross.svg) #313131;
  font-size: 0;
}
