.promo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 524px;
  background: no-repeat url(../../../images/pic__COLOR_landing-logo.svg) #073042;
  background-position-x: 50%;
  background-position-y: 40%;
}

.promo__title {
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
  max-width: 730px;
  color: #fff;
  margin-bottom: 75px;

}

.promo__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 24px;
  background-color: #272727;
}

.promo__link {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid;
  transition: opacity 0.4s linear;
  text-decoration: none;
  margin: 0 40px 0 0;
}
