.about-me {
  margin: 0;
  padding: 70px;
  background: #202020;
}

.about-me__block {
  margin: 66px 0 0;
  display: flex;
  justify-content: space-between;

}

.about-me__info {
  max-width: 600px;
}

.about-me__name {
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #fff;
  margin: 0;
  padding: 0;
}

.about-me__description {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  margin: 18px 0 26px 0;
  padding: 0;
}

.about-me__text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  margin: 0 10px 99px 0;
  padding: 0;
}

.about-me__link {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  text-decoration: none;
}

.about-me__img {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 950px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__name {
    margin: 0 0 16px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .about-me__description {
    margin: 0 0 20px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;

  }

  .about-me__text {
    margin: 0 30px 104px 0;
    max-width: 364px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }

  .about-me__img {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 600px) {
  .about-me {
    padding: 81px 14px 71px;
  }

  .about-me__block {
    margin: 60px 0 0;
    flex-direction: column-reverse;
  }

  .about-me__img {
    width: 292px;
    height: 352px;
  }

  .about-me__info {
    max-width: 929px;
    margin: 40px 0 0;
  }

  .about-me__name {
    margin: 0 0 20px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .about-me__description {
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;

  }

  .about-me__text {
    margin: 0 0 56px;
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }
}
